@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer / Edge */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}


.ticket-cutout-aws {
  clip-path: path("M 10 0 H 435 Q 445 0 445 10 V 365 A 15 15 0 0 0 445 395 V 760 Q 445 770 435 770 H 10 Q 0 770 0 760 V 395 A 15 15 0 0 0 0 365 V 10 Q 0 0 10 0 Z");
}